div {
    width: 250px;
    height: 250px;
    margin: 48px;
    border: 1px solid black;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: backwards; */
    animation-delay: 2s;
    /* animation-direction: reverse;
    animation-timing-function: ease-in; */
    /* shorthand */
    animation: pulse 5s ease-in infinite;
}

div:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        background-color: lightblue;
        transform: rotateZ(0deg);
    }

    100% {
        background-color: lightcoral;
        transform: rotateZ(360deg);
    }
}